<tr class="forecast_period">
  <th><%= forecast_period.name %></th>
  <td><%= forecast_period.temperature %>&deg;</td>
  <td><%= forecast_period.precipitation_probability %>%</td>
  <td><%= forecast_period.short_forecast.capitalize %></td>
</tr>
