<% if @query.provided? && flash.key?(:alert) %>
  <div class="alert alert-danger">
    <span><%= flash[:alert] %></span>
  </div>
<% end %>

<%= form_tag("/", method: :get, class: %w[ d-flex ]) do %>
  <%= text_field_tag(:q, params[:q], class: %w[ form-control me-2 ], placeholder: "Search City or Zip Code") %>
  <%= submit_tag("Lookup", class: %w[ btn btn-outline-secondary ]) %>
<% end %>
